//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400;500;800&display=swap');

//Body Color
$primaryBgColor:#fff;

//Body Font Family
$fontStackPrimary:'Open Sans', sans-serif;
$fontStackSecondary:'Lora', serif;

//Menu Typographies
$menuBgColor:transparent;
$menuTextColor:#fff;
$menuHoverTextColor:#C1C1C1;

$hideMenuBgColor:#fff;
$hideMenuTextColor:#212529;
$hideMenuHoverTextColor:#0085a1;

$navMenuTogglerColor:#343A40;
$navMenuPrimaryColor:#343A40;
$navMenuTextColor:rgba(0,0,0,0.5);
$navMenuFocusColor:#0085A1;
$navMenuHoverColor:#004655;

//TitleTypographies
$titleColor:#fff;
$subTitleColor:#fff;

//Paraghraph Typoghraphies
$pPrimaryColor:#212529;
$pTitleColor:#212529;
$pTitleHoverColor:#0085A1;
$pColor:#212529;
$pHoverColor:#0085A1;
$pMetaColor:#6C757D;

//Button Typoghraphies
$btnColor:#0085A1;
$btnHoverColor:#00657b;
$btnBorderColor:#0085A1;
$btnBorderHoverColor:#005b6e;
$btnSocialHoverColor:#0085a1;

//Form Text Color
$formTextColor:#495057;

//Social Link Colors
$socialBgColor:#495057;
$socialHoverColor:#0085A1;